@font-face {
  font-family: 'Courier New';
  src: url('./FontsFree-Net-cour.ttf') format('truetype');
}

html {
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
}

html::-webkit-scrollbar {
  width: 0 !important;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

.container-index {
  display: flex;
  height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 3;
  background-color: black;
  color: white;
  padding: 20px;
}

#logo {
  width: 70%;
  padding-bottom: 60px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.team-header {
  width: 66.3%;
  margin-left: auto;
  padding: 20px;
}
.main-content {
  flex: 7;
  padding: 20px;
  background-image: url('./img/background.png');
  background-size: cover;
}

nav {
  padding: 10px;
}

nav a {
  margin-right: 10px;
  text-decoration: none;
  color: black;
  padding: 10px 30px;
  font-size: large;
}

.language-switcher {
  margin: 10px 0;
}
.container-team {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}
.section-doingu {
  display: flex;
  flex-direction: column;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.half {
  box-sizing: border-box;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  position: relative;
}
.half h2 {
  margin-top: 15px !important;
}
.line::before {
  content: "";
  position: absolute;
  left: -30px;
  height: 90%;
  border-left: 2px solid #0bb5b8;
  top: 10%;
} 
.text-team {
  width: 70%;
  text-align: start;
}
.title {
  padding-left: 25px;
  border-bottom: 2px solid #0bb5b8;
  margin-bottom: 0;
}
.imgs {
  display: flex;
  justify-content: space-evenly;
  padding-top: 25px;
}
.dt1 {
  width: 383px;
  height: 380px;
}
.buff_new {
  width: 242px;
  height: 77px;
}
.kmf_new {
  width: 350px;
  height: 133px;
}
.info {
  padding: 15px 25px;
}
.detail {
  display: flex;
}
.detail img {
  width: 40px;
  height: 40px;
}
.detail .text {
  margin-left: 15px;
}
.container-services {
  display: flex;
}
.tu-van {
  flex: 3;
  background-color: #f8f8f8;
  padding: 0px;
  border-right: 2px solid #0bb5b8;
  margin: 5px;
}
/*.tu-van h2 {
  border: 1.5px solid rgb(53, 239, 236);
  border-radius: 50%;
  padding: 50px;
}*/

.list-dich-vu {
  flex: 7;
  padding: 20px;
  justify-content: flex-start;
}
.section-doingu .section {
  display: flex;
  justify-content: space-between;
}